body {
    background: #DBE2E4
}

.clear {
    clear: both
}

a:hover {
    color: #000
}

img {
    display: inline
}

.main {
    padding-bottom: 0
}

.footer {
    margin-top: 30px;
    color: #ccc;
    background: #222;
    border-top: 1px solid #cdcdcd;
    padding: 20px 0;
    font-size: 14px;
    position: inherit
}

.footer a {
    padding-bottom: 2px;
    color: #ccc;
    text-decoration: none;
    border-bottom: none
}

.footer a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: none
}

.footer-inner:before {
    float: inherit;
    width: 0;
    min-height: 0;
    content: ''
}

.container .footer-inner {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    padding: 0 10px
}

.footer-inner-left {
    float: left
}

.footer-inner-right {
    float: right
}

.footer-info-pannel {
    display: block;
    float: left;
    width: 180px;
    overflow: hidden;
    text-align: left
}

.footer-info-pannel dl {
    margin: 0
}

.footer-info-pannel dl dt {
    line-height: 1em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #eee;
    font-size: 16px
}

.footer-info-pannel dl dd {
    line-height: 1.5em
}

.footer-info-pannel dl dd a {
    border-bottom: none
}

.footer-info-pannel dl dd a:hover {
    border-bottom: none
}

.footer-copyright {
    clear: both;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #4E4E4E;
    float: left;
    line-height: 1.5em;
    width: 600px
}

.footer-right-pannel {
    float: right;
    line-height: 1em;
    margin-top: 0;
    text-align: center;
    width: 220px
}

.right-pannel-weixin-text {
    margin-top: 10px
}

.right-pannel-weixin-text i {
    color: #0f0
}

.right-pannel-site-logo {
    margin-top: 20px
}

.right-pannel-site-logo img {
    width: 150px;
    height: 24px
}

.brand {
    padding: 0
}

.site-search {
    float: right;
    padding-top: 20px;
    margin-right: 10px;
    display: block;
    position: relative;
    top: inherit;
    left: inherit;
    font-size: 14px
}

.site-search input {
    padding: 3px;
    border: none;
    padding-left: 18px;
    border-radius: 0;
    width: 100px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNywxNC4zbC0zLjEwNS0zLjEwNUMxMy40NzMsMTAuMDI0LDE0LDguNTc2LDE0LDdjMC0zLjg2Ni0zLjEzNC03LTctN1MwLDMuMTM0LDAsN3MzLjEzNCw3LDcsNyAgYzEuNTc2LDAsMy4wMjQtMC41MjcsNC4xOTQtMS40MDVMMTQuMywxNS43YzAuMTg0LDAuMTg0LDAuMzgsMC4zLDAuNywwLjNjMC41NTMsMCwxLTAuNDQ3LDEtMUMxNiwxNC43ODEsMTUuOTQ2LDE0LjU0NiwxNS43LDE0LjN6ICAgTTIsN2MwLTIuNzYyLDIuMjM4LTUsNS01czUsMi4yMzgsNSw1cy0yLjIzOCw1LTUsNVMyLDkuNzYyLDIsN3oiLz48L3N2Zz4=) no-repeat 0 50%;
    background-size: 12px 12px;
    outline: 0;
    border-bottom: 1px solid #999;
    opacity: .5
}

.site-search input:focus {
    opacity: 1
}

.sidebar-inner {
    padding: 0 10px;
    margin-bottom: 20px
}

.sidebar-inner-title {
    padding: 0 15px;
    color: #F74840;
    text-align: center;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc
}

.sidebar-inner-content {
    clear: both;
    padding: 0;
    margin-top: 10px
}

.sidebar-inner-content ul {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px
}

.sidebar-inner-content ul li {
    float: left;
    width: 100%;
    height: 28px;
    text-decoration: none;
    overflow: hidden
}

.sidebar-inner-content ul li a {
    height: 26px;
    line-height: 26x;
    overflow: hidden;
    text-decoration: none;
    border-bottom: none
}

.sidebar-inner-content ul li a:hover {
    color: #000;
    border-bottom: 1px solid #000
}

.sidebar-inner-site {
    margin-bottom: 10px
}

.sidebar-inner-site-meta {
    padding: 10px 5px
}

.sidebar-inner-site-meta:after {
    clear: both
}

.sidebar-inner-site-meta .site-author {
    float: left
}

.site-author-image {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-width: 1px;
    border: 1px solid #dedede
}

.sidebar-inner-site-meta .site-state {
    padding: 5px 0
}

.site-state-item {
    padding: 0 11px;
    width: 18%
}

.site-state-item a:hover {
    color: #000
}

.sidebar-inner-site-description {
    padding: 0 1px;
    text-align: left;
    text-align: justify;
    color: #999
}

.site-donate {
    margin-top: 10px
}

.site-donate a {
    border-bottom: none
}

.sidebar {
    width: 250px;
    margin-top: 0;
    display: block
}

.sidebar-inner {
    width: 250px
}

.sidebar-inner-links {
    margin-bottom: 10px
}

.sidebar-inner-links .sidebar-inner-content {
    padding-left: 10px;
    text-align: left
}

.sidebar-inner-links .links-item {
    display: inline-block;
    width: 105px;
    text-align: left;
    overflow: hidden;
    height: 22px;
    line-height: 22px
}

.sidebar-inner-links .links-item a {
    display: block;
    box-sizing: border-box;
    margin-right: 0;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    border-bottom: none
}

.sidebar-inner-links .links-item .fa {
    font-size: 14px;
    width: 20px;
    text-align: center;
    margin-right: 2px
}

.sidebar-inner-links .links-item a:hover {
    color: #000
}

.sidebar-inner-links .links-item a:hover .fa {
    font-size: 18px;
    color: #000
}

.back-to-top {
    opacity: .8
}

#posts {
    padding-top: 0
}

.posts-expand .post-eof {
    width: 40%;
    margin: 60px auto 45px
}

.posts-expand .post-meta {
    margin: 3px 0 40px 0;
    margin-bottom: 0
}

.searh-result-keyword {
    color: #fc6423
}

.comment-author cite {
    font-weight: 400
}

.post-nav {
    margin-top: 20px
}

.post-title a {
    padding-bottom: 5px
}

.post-title a:hover {
    padding-bottom: 5px
}

.post-body {
    margin-top: 40px
}

.post-body p {
    margin: 10px 0 15px 0
}

.post-body p img {
    display: block;
    text-align: center!important
}

.post-body ol {
    padding-left: 20px
}

.post-body ul li {
    list-style: circle
}

.post-body blockquote p {
    text-indent: 0
}

.post-body a {
    padding-bottom: 2px;
    border-bottom: 1px dotted #06c;
    color: #06c
}

.post-body a:hover {
    padding-bottom: 2px;
    color: #000;
    border-bottom: 1px solid #000
}

.post-body .more {
    text-indent: 0;
    text-align: center!important
}

.post-body .more a {
    padding: 2px 30px;
    border: 1px solid #555;
    color: #555
}

.post-body .more a:hover {
    color: #fff
}

.posts-archives article.post {
    margin-top: 10px;
    margin-bottom: 15px
}

.posts-archives .post-header h3.post-title {
    margin-top: 0;
    margin-bottom: 0
}

.post-interactive {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center
}

.post-interactive .btn {
    padding: 0;
    margin: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    color: #555;
    background-color: transparent;
    width: 128px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.post-interactive .btn i {
    width: 20px
}

.post-interactive .btn:hover {
    color: #fff;
    border-color: #F74840;
    background-color: #F74840
}

.dialog-share {
    display: none;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px
}

.dialog-share a {
    border-bottom: none;
    margin: 0 20px
}

.post-donate {
    padding: 20px 15px 20px 25px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-left: 4px solid #f57e42;
    box-sizing: border-box;
    box-shadow: 0 0 1px #d9d9d9
}

.post-donate .donate-title {
    line-height: 1.5em
}

.post-donate .donate-title a {
    border-bottom-style: dotted
}

.post-donate .donate-title a:hover {
    border-bottom-style: solid
}

.post-donate .donate-handle {
    margin-top: 10px;
    text-align: center
}

.post-donate .donate-btn {
    padding: 0;
    width: 128px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-color: #f57e42;
    background: #f57e42;
    border-radius: 4px
}

.post-donate .donate-btn .fa {
    margin-right: 5px
}

.post-donate .donate-btn:hover {
    border-color: #F56015;
    background: #F56015
}

.post-donate .donate-pay {
    display: none;
    padding: 10px 0;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center
}

.post-donate .donate-pay img {
    display: inline-block
}

.post-copyright {
    font-size: 14px;
    text-indent: 0;
    line-height: 1.8em;
    margin-top: 20px
}

.posts-expand .post-tags a:before {
    content: '# '
}

.posts-expand .post-tags {
    margin-top: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 1.8em
}

.posts-expand .post-tags a {
    font-size: 14px;
    display: inline
}

.posts-expand .post-copyright a,
.posts-expand .post-related ul li a,
.posts-expand .post-tags a {
    padding-bottom: 2px;
    border-bottom-style: dotted;
    border-bottom-width: 1px
}

.posts-expand .post-copyright a:hover,
.posts-expand .post-related ul li a:hover,
.posts-expand .post-tags a:hover {
    padding-bottom: 2px;
    color: #000;
    border-bottom: 1px solid #000
}

.posts-expand .post-related {
    font-size: 14px;
    margin-top: 5px
}

.posts-expand .post-related ul {
    padding: 0;
    margin: 0;
    padding-left: 30px
}

.posts-expand .post-related ul li {
    list-style: circle;
    line-height: 1.8em
}

.posts-expand .post-nav {
    padding: 10px 3px
}

.pagination {
    margin: 80px 0 40px
}

.pagination .page-number.current {
    background: #222
}

.post-meta a {
    border-bottom: none
}

.post-meta .post-time time,
.post-meta .post-views-count span {
    color: #555
}

.page-title {
    text-align: center
}

.post-body p {
    text-align: justify!important
}

.comment-list li {
    padding: 7px 0 0
}

.comment-content p {
    margin-bottom: 7px
}

.comment-at-author {
    padding: 0;
    margin: 0
}

.comment-at-author a,
.comment-author a {
    color: #f57e42
}

.comment-at-author {
    padding: 0;
    margin: 0
}

.posts-collapse .collection-title {
    margin-bottom: 20px
}

.posts-collapse .post-header:hover {
    color: #000!important;
    border-bottom: 1px dashed #000!important
}

.posts-collapse .post-header .post-title a:hover {
    color: #000!important
}

.category-all-page .category-list-item a {
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px dotted #555
}

.category-all-page .category-list-item a:hover {
    color: #000;
    border-bottom: 1px solid #000
}

.tag-cloud-tags a {
    border-bottom-style: dotted
}

.comment-by-author>.comment-author .fn::after {
    content: 'ROOT 陛下';
    background: #F74840;
    transform: scale(1, 1);
    margin-left: 10px
}

.comment-user-info-input {
    margin-bottom: 5px
}

.comment-user-info-input .comment-about {
    margin-bottom: 5px
}

.comment-content {
    margin-bottom: 0
}

.comment-content p {
    word-break: break-all
}

.comment-content textarea {
    height: auto
}

.comment-mail-notify {
    display: inline
}

#comment-form .comment-about-author label,
#comment-form .comment-about-email label,
#comment-form .comment-about-url label {
    margin-top: 5px
}

#comment-form .comment-about-author input,
#comment-form .comment-about-email input,
#comment-form .comment-about-url input {
    padding-left: 42px
}

#comment-form .comment-mail-notify label {
    display: inline;
    position: relative;
    margin: 0
}

#comment-form .comment-mail-notify label input {
    display: inline;
    width: 20px
}

.comment-submit {
    margin-top: 5px
}

.post-menutree-wrapper {
    float: left;
    margin-top: 15px;
    margin-bottom: -25px;
    overflow: auto!important;
    background-color: #eee!important;
    border: 1px solid #ccc!important;
    padding: 5px 10px;
    line-height: 1.8em;
    z-index: 999
}

.post-menutree-wrapper a {
    color: #06c;
    text-decoration: none;
    border-bottom: none
}

.post-menutree-wrapper a:hover {
    color: #F74840;
    border-bottom: 1px solid #F74840
}

.post-menutree-title {
    margin: 0;
    line-height: 1.5em
}

.post-menutree-title .post-menutree-title-name {
    font-weight: 700
}

.post-menutree-title .post-menutree-title-handle {
    padding-left: 20px;
    height: inherit
}

.post-menutree-content {
    border-top: 1px solid #bcbcbc;
    display: none;
    margin-top: 5px;
    padding: 5px 5px;
    padding-right: 20px;
    min-width: 200px
}

.post-menutree-content ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px
}

.post-menutree-content .post-menutree-content-list {
    padding-left: 25px;
    padding-right: 10px
}

.right-layer {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    z-index: 999
}

.right-layer a {
    float: left;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #fff;
    text-decoration: none;
    border: 1px solid #cdcdcd;
    color: #999;
    background: #fff;
    font-size: 28px
}

.right-layer a:hover {
    border: 1px solid #222;
    background: #222;
    color: #fff
}

.right-layer .site-back-to-top {
    display: none
}

.right-layer .site-qrcode-img {
    position: fixed;
    display: none;
    width: 150px;
    height: 177px;
    z-index: 999;
    padding: 5px;
    border: 1px solid #cdcdcd;
    background: #fff
}

.right-layer .site-qrcode-img {
    position: fixed;
    display: none;
    width: 150px;
    height: 175px;
    z-index: 999;
    padding: 5px;
    border: 1px solid #cdcdcd;
    background: #fff
}

.site-qrcode-img .site-qrcode-txt {
    line-height: 24px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 2px
}

.site-qrcode-img .site-qrcode-img-content {
    width: 150px;
    height: 150px
}

@media (min-width:1095px) {
    .right-layer {
        display: block
    }
}

@media (max-width:1094px) {
    .right-layer {
        bottom: 10px;
        right: 10px;
        width: 45px;
        display: block
    }
    .right-layer a {
        width: 43px;
        height: 43px;
        line-height: 43px;
        font-size: 24px;
        opacity: .8
    }
}

@media (min-width:992px) {
    .back-to-top:hover {
        opacity: 1
    }
    .main {
        margin-top: 88px
    }
    .header {
        float: left;
        width: 100%;
        height: 76px;
        background: #fff;
        border-bottom: 1px solid #cdcdcd
    }
    .container .header-inner {
        position: relative;
        width: 960px;
        height: 76px;
        margin: 0 auto
    }
    .site-meta {
        float: left;
        padding: 0;
        width: 250px;
        height: 76px;
        line-height: 76px
    }
    .site-meta .brand {
        display: block;
        height: 76px;
        line-height: 76px
    }
    .site-meta .site-title {
        height: 76px;
        line-height: 76px;
        font-size: 24px
    }
    .site-meta .logo-line-before {
        padding-right: 10px
    }
    .site-meta .logo-line-before img {
        padding-top: 18px;
        width: 40px;
        height: 40px
    }
    .site-nav {
        float: left;
        height: 76px;
        margin-left: 10px;
        width: 698px
    }
    .menu {
        float: left;
        margin-top: 18px
    }
    .menu .menu-item {
        float: left;
        height: 43px
    }
    .menu .menu-item a {
        font-size: 16px
    }
    .menu .menu-item a:hover {
        border-radius: 4px;
        background: #dedede
    }
    .menu .menu-item .fa {
        width: 20px
    }
    .menu .menu-item a:hover .fa {
        font-size: 22px
    }
    .menu-item-active a {
        color: #000!important;
        background: #fff
    }
    .menu .menu-item a:hover {
        color: #000!important
    }
    .menu-item-active a:after {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 6px;
        height: 0;
        margin-top: -3px;
        content: '';
        border-radius: 50%
    }
}

@media (max-width:991px) {
    .site-search {
        float: none;
        padding: 0 30px;
        display: block
    }
    .site-search input {
        width: 140px
    }
    .site-meta {
        padding: 0;
        height: 49px;
        line-height: 49px
    }
    .site-meta .brand {
        display: inline-block
    }
    .site-meta .site-title {
        height: 49px;
        line-height: 49px;
        font-size: 22px
    }
    .site-meta .logo-line-before {
        padding-right: 10px
    }
    .site-meta .logo-line-before img {
        padding-top: 9px;
        width: 30px;
        height: 30px
    }
    .site-nav-toggle {
        top: inherit;
        left: inherit;
        padding: 8px 5px;
        padding: 5px 0 8px 5px
    }
    .site-nav-toggle button {
        margin-top: 0;
        padding: 11px 10px;
        border: none;
        background: 0 0
    }
    .site-nav .menu {
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 5px
    }
    .content-wrap {
        padding: 20px
    }
    .menu-item-active a {
        color: #000!important
    }
    .page-title {
        padding-left: 10px;
        padding-top: 20px
    }
    .posts-expand {
        padding-top: 20px
    }
    .container .footer-inner {
        width: 100%
    }
    .footer-info-pannel {
        width: 140px
    }
    .footer-info-pannel-contact {
        width: 150px
    }
    .footer-copyright {
        width: auto
    }
    .footer-right-pannel {
        width: auto
    }
    .sidebar {
        margin-top: 20px;
        display: block!important;
        width: 100%!important
    }
    .sidebar-inner {
        float: left;
        width: 50%;
        min-width: 240px
    }
    .sidebar-inner-title {
        text-align: left
    }
    .right-layer {
        width: 40px
    }
    .right-layer a {
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 22px;
        opacity: .6
    }
}

@media (min-width:768px) and (max-width:991px) {
    .site-meta .logo-line-before {
        padding-right: 20px
    }
}

@media (min-width:768px) {
    .post-body,
    .post-donate,
    .post-interactive {
        font-size: 16px
    }
    .post-meta-item-text {
        display: inline-block
    }
    .post-meta-item-icon {
        display: none
    }
    .post-body p {
        text-align: justify
    }
}

@media (max-width:767px) {
    .content-wrap {
        padding: 10px
    }
    .posts-expand {
        margin: 0 10px
    }
    .post-body {
        line-height: 1.8em
    }
    #posts {
        margin-top: 40px
    }
    #comments {
        margin: 10px 10px
    }
    .post-comments-count {
        display: inline-block!important
    }
    .container .footer-inner {
        width: 100%;
        font-size: 14px
    }
    .footer-inner-left {
        width: 100%
    }
    .footer-info-pannel {
        width: 50%;
        text-align: center;
        margin-top: 20px
    }
    .footer-info-pannel dl dt {
        margin-bottom: 10px
    }
    .footer-copyright {
        width: 100%;
        text-align: center
    }
    .footer-inner-right {
        margin-top: 20px;
        clear: both;
        float: left;
        width: 100%;
        text-align: center!important
    }
    .footer-right-pannel {
        float: none;
        text-align: center
    }
    .right-pannel-site-logo {
        margin-top: 10px
    }
    .right-layer {
        width: 30px
    }
    .right-layer a {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        opacity: .4
    }
}

@media (max-width:500px) {
    .sidebar {
        margin-top: 20px;
        display: block!important;
        width: 100%!important
    }
    .sidebar-inner {
        float: left;
        width: 100%
    }
    .sidebar-inner-title {
        text-align: center
    }
}